**/.DS_Store
**/*.pyc
mysite/zulucal/.DS_Store
*.pbxproj
*.xcuserstate
mysite/zulucal/caljango/caljango.xcodeproj/project.pbxproj
mysite/zulucal/caljango/caljango.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
mysite/zulucal/caljango/caljango.xcodeproj/project.xcworkspace/xcuserdata/timberwoof.xcuserdatad/UserInterfaceState.xcuserstate
mysite/zulucal/caljango/caljango.xcodeproj/project.pbxproj
*.pbxproj
*.xcuserstate
